
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    color: inherit; /* Наследуем цвет текста */
}
.product-card:hover {
    transform: scale(1.02);
}
.product-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.product-card h2 {
    font-size: 1.2em;
    margin: 5px 0;
}
.product-card .price {
    font-size: 1em;
    color: #333;
    margin-top: 5px;
}